<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.ToxicBakery.lollipop"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name="com.ToxicBakery.lollipop.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".demo.CardViewActivity"
            android:label="@string/demo_cardview"/>
        <activity
            android:name=".demo.RecyclerViewActivity"
            android:label="@string/demo_recycler_view"/>
        <activity
            android:name=".demo.RealtimeShadowsActivity"
            android:label="@string/demo_realtime_shadows"/>
        <activity
            android:name=".demo.RevealActivity"
            android:label="@string/demo_reveal"/>
        <activity
            android:name=".demo.RippleActivity"
            android:label="@string/demo_ripple"/>
        <activity
            android:name=".demo.NewActivityTransitionsActivity"
            android:label="@string/demo_activity_transitions"/>

        <activity android:name=".demo.NewActivityTransitionsActivity$TransitionActivity"/>

        <activity android:name=".demo.NewActivityTransitionsActivity$SharedViewDetailActivity"/>
            android:name=".demo.SharedViewActivity"
            android:label="@string/demo_shared_view"/>
        <activity
            android:name=".demo.WearableNotificationsActivity"
            android:label="@string/demo_wearable_notifications"
            android:launchMode="singleTask"/>
        <activity
            android:name=".demo.WearableSyncActivity"
            android:label="@string/demo_wearable_sync"
            android:launchMode="singleTask"/>

    </application>

</manifest>
